# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv("pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [69]:
print(pokemon['Type 1'].unique())

print(pokemon['Type 2'].unique())

# pokemon_types = pokemon[['Type 1','Type 2']]

# Pokemon['unique type'] = pd.unique(pokemon_types)

# print(Pokemon['unique type'])

# np.unique(pokemon[['Type 1', 'Type 2']].values)

# list(pokemon['Type 1']+'-'+ pokemon['Type 2'])

# pokemon_types = np.append(pokemon['Type 1'].unique(),pokemon['Type 2'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']
['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying' 'Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass'
 'Fighting' 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric'
 'Fire' 'Ghost' 'Bug' 'Normal']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [71]:
pokemon['Name'] = pokemon['Name'].str.replace("(.*)Mega", "Mega")


pokemon.head(10)

<ipython-input-71-78b01db2579d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon['Name'] = pokemon['Name'].str.replace("(.*)Mega", "Mega")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type,High A/D
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire-,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire-,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water-,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
pokemon[pokemon['A/D Ratio']== pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [73]:
pokemon[pokemon['A/D Ratio']== pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type,High A/D
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug-Rock,False

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [74]:
# pokemon['Combo Type'] = list(pokemon['Type 1'].fillna('').astype(str)+'-'+ pokemon['Type 2'].fillna('').astype(str))


def combo_type_def(row):
    type_1 = row['Type 1']
    type_2 = row['Type 2']

    if type_2 == 'nan':
        return type_1    
    else:
        return type_1+"-"+type_2
    
pokemon['combo_type'] = pokemon.apply(combo_type_def, axis=1)

pokemon.head(20)

TypeError: can only concatenate str (not "float") to str

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [76]:
# one way to do it but not the right one
pokemon['A/D Ratio'].nlargest(n=5)

pokemon['High A/D'] = pokemon['A/D Ratio']>= 3

pokemon[(pokemon['High A/D']== True)].head()

# other way to do it

pokemon.nlargest(5, 'A/D Ratio')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type,High A/D
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic-,True
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark,True
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison,True
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock-,True
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark,True

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [75]:
pokemonbest_type.pivot_table(index= ['Combo Type'], aggfunc = ['mean'])

                     mean                                               \
                        # A/D Ratio      Attack     Defense Generation
Combo Type
Bug-           361.352941  0.940179   50.352941   55.411765   3.470588
Bug-Electric   595.500000  1.111667   62.000000   55.000000   5.000000
Bug-Fighting   214.000000  1.637681  155.000000   95.000000   2.000000
Bug-Fire       636.500000  1.234266   72.500000   60.000000   5.000000
Bug-Flying     286.285714  1.146274   70.142857   61.571429   2.857143
...                   ...       ...         ...         ...        ...
Water-Ice      103.000000  0.821759   83.333333  113.333333   1.000000
Water-Poison   118.666667  1.162149   68.333333   58.333333   1.333333
Water-Psychic  111.800000  0.783668   73.000000  104.000000   1.200000
Water-Rock     430.000000  0.727170   82.750000  112.750000   3.750000
Water-Steel    395.000000  0.977273   86.000000   88.000000   4.000000

                                                                     \
                      HP High A/D Legendary     Sp. Atk     Sp. Def
Combo Type
Bug-           53.058824      0.0       0.0   39.294118   43.647059
Bug-Electric   60.000000      0.0       0.0   77.000000   55.000000
Bug-Fighting   80.000000      0.0       0.0   40.000000  100.000000
Bug-Fire       70.000000      0.0       0.0   92.500000   80.000000
Bug-Flying     63.000000      0.0       0.0   72.857143   69.071429
...                  ...      ...       ...         ...         ...
Water-Ice      90.000000      0.0       0.0   80.000000   78.333333
Water-Poison   61.666667      0.0       0.0   61.666667   91.666667
Water-Psychic  87.000000      0.0       0.0   94.000000   79.000000
Water-Rock     70.750000      0.0       0.0   61.500000   65.000000
Water-Steel    84.000000      0.0       0.0  111.000000  101.000000


                   Speed       Total
Combo Type
Bug-           47.941176  289.705882
Bug-Electric   86.500000  395.500000
Bug-Fighting   80.000000  550.000000
Bug-Fire       80.000000  455.000000
Bug-Flying     82.857143  419.500000
...                  ...         ...
Water-Ice      66.666667  511.666667
Water-Poison   85.000000  426.666667
Water-Psychic  44.000000  481.000000
Water-Rock     36.000000  428.750000
Water-Steel    60.000000  530.000000

[154 rows x 12 columns]